.App {
  text-align: center;
  align-items: center;
}

.post {
  display: block;
  flex-direction: column;
  width: 30%;
  height: 20%;
  padding: 10px;
  border: 1px solid #1A1A1B;
  border-radius: 5px;
  background-color: #0D4B4B;
}

.singel-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.comment {
  display: block;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #1A1A1B;
  border-radius: 5px;
  background-color: #0D4B4B;
  margin-top: 10px;
}

.post:hover {
  display: block;
  background-color: #0F5454;
}