.main-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-color: grey;
  }

  
  .reddit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #1A1A1B;
    color: white;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .search-input {
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .user-options {
    display: flex;
    gap: 10px;
  }
  
  .reddit-sidebar {
    display: flex;
    flex-direction: column;
  }
  
  .reddit-main-content {
    flex-grow: 1;
  }
  
  .reddit-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .post-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    border:1px solid #1A1A1B;
    border-radius: 5px;
  }
